name: TTP Templates Tests
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  run_tests:
    name: Testing on Python ${{ matrix.python-version }} (${{ matrix.platform}})
    defaults:
      run:
        # that is to run pytest from within tests directory
        working-directory: test/
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        python-version: [ '3.6', '3.7', '3.8', '3.9', '3.10' ]
        platform: [ubuntu-latest, macOS-10.15, windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools
          pip install -r ../requirements-dev.txt
      - name: Run pytest
        run: pytest -vv
